{{define "inicio"}}
{{template "cabecera"}}

  <section>
    <div class="container">
        <div class="row">
        

{{range.}}
        
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card text-left">
                  <img class="card-img-top" src='{{.Imagen}}' alt="">
                  <div class="card-body">
                    <h4 class="card-title">{{.Nombre}}</h4>
                    <p class="card-text">{{.Detalles}}</p>
                    <span>$USD {{.Precio}}</span>
                  </div>
                </div>
            </div>

{{end}}

        </div>
    </div>
  </section>

    </tbody>
  </table>

  
{{template "pie"}}

{{end}}
