
{{define "pie"}}
  </section>
  
  <section class="fotter">
    <div>
        Pagina propiedad de @Aaronrbz 
    </div>
  </section>
    <a name="" id="" class="btn btn-primary" href="/inicio" role="button">Volver al inicio</a>
{{end}}